* {
  padding: 0;
  border: 0;
  margin: 0;
}
/* navbar */
nav {
  background-color: #c0c0c0; /* TODO Change color to white */
  display: flex;
  justify-content: space-around;
}
.navicon {
  max-height: 23px;
}
#logo {
  margin: 0 auto;
}
/* main */

/* footer */
