@font-face {
  font-family: "Helvetica Neue";
  src: url("./res/HelveticaNeue.woff") format("woff"),
    url(".res/HelveticaNeue.woff2") format("woff2"),
    url(".res/HelveticaNeue.ttf") format("truetype");
}
* {
  font-family: SegoeUI, "Segoe UI", "Helvetica Neue", Arial, Helvetica,
    sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}
/* navbar */
nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  max-height: 54px;
}
.navicon {
  max-height: 32px;
}
#navlink {
  display: none;
}
#logo {
  margin: 0 auto;
  width: 108px;
  height: 23px;
  padding: 16px 6px 16px 12px;
}
#usricon {
  max-height: 32px;
}
.nav_icon_text_wrapper {
  display: none;
}
/* main */



.slidesnavig {
  text-align: center;
}

.svg-wraper{
  max-width: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.slidesnavig a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}
/* footer */

@media only screen and (min-width: 859px) {
  .navlink {
    display: inline-block;
  }
.slider-wrapper {
  position: relative;
  max-width: 90%;
  height: 80vh;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 6;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  

}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #000;
}


.iconswithlink{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}


.iconswithlink > a {
  color: #2a62ad;
  padding: 18px;
}


.firstsmallfotoslink {
  color: #2a62ad;
}
.first4littlephotos{
  min-width: 100%;
  background: red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.img-group{
  background: green;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.second4littlephotos {
  color: #2a62ad;
}
.poweryourdreams-final-box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 20em;
}

.poweryourdreams-left-box{
  min-width: 50%;
  min-height: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}
.poweryourdreams-left-box > p{
min-height: 40%;
}
.poweryourdreams-right-box{
  max-width: 40%;
}
.poweryourdreams-right-box img{
  max-width: 100%;
}

/* footer */
.footer {
  background-color: #ececec;
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex-basis: 16.66%;
  padding: 20px;
  box-sizing: border-box; /* Add this property to include padding and border in the element’s total width */
}
ul {
  list-style-type: none;
  font-size: 11px;
  color: #616161;
  margin: 0;
  padding: 0;
}
i {
  color: #616161;
  margin-bottom: 8px;
}
a {
  color: #616161;
  text-decoration: none;
}
a:hover {
  color: var(–dark);
  text-decoration: underline;
}
h4 {
  font-size: 15px;
  font-weight: bold;
  color: #616161;
  margin-top: 0;
}
@media (max-width: 768px) {
  .column {
    flex-basis: 50%; /* Adjust the percentage to make the columns closer */
    max-width: 50%;
  }
}
@media only screen and (min-width: 859px) {
  nav {
    justify-content: start;
    align-items: center;
    #searchwrap {order: 1};
    #cartwrap {order: 2};
    #userwrap {order: 3};
  }
  .nav_icon_text_wrapper {
    display: inline;
  }
  #navlink {
    display: flex;
    flex-flow: nowrap;
    overflow-x: clip;
    align-items: center;
    padding: 8px 20vw 10px 8px;
  }
  #navlink a {
    padding: 16px 8px 10px;
    font-size: 0.75em;
  }
  #logo {
    margin: 0 0 0 5%;
  }
  #arrowdown {
    display: none;
  }
  #burgermenu {
    display: none;
  }
  .navicon {
    max-height: 16px;
  }
  #cartwrap {
    padding: 0 30px;
  }
  /* #userwrap {
  TODO Fix text to icon alignment
  } */
}
/* @media only screen and (min-width: 1029px) {
} */
}